<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}My Web app{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.CSS' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
</head>
<body id='grad'>
    
    <div class="container">
        {% block start_body %}

        {% endblock %}
    </div>

</body>
</html>